@model List<TheatersViewModel>
@{
}

<h1>Listagem de Cinemas</h1>

<a class="btn btn-success" href="/Theaters/create">Novo Registro</a>
<br /><br />

<table class="table table-bordered table-responsive text-center">
    <tr>
        <td><b>Ações</b></td>
        <td><b>Id</b></td>
        <td><b>Descrição</b></td>
        <td><b>ID Localização</b></td>
        <td><b>Hora de Abertura</b></td>
        <td><b>Hora de Fechamento</b></td>
    </tr>

    @foreach (var Cinema in Model)
    {
        <tr>
            <td>
                <a href="/Theaters/Edit?id=@Cinema.Id" class="glyphicon glyphicon-pencil"></a> &nbsp;&nbsp;
                <a href="javascript:apagar(@Cinema.Id, 'Theaters')" class="glyphicon glyphicon-trash"></a>
            </td>
            <td>@Cinema.Id</td>
            <td>@Cinema.Description</td>
            <td>@Cinema.Localization_id</td>
            <td>@Cinema.Open_hour</td>
            <td>@Cinema.Close_hour</td>
        </tr>

    }

</table>
