@model List<EmployerViewModel>
@{
}
<h1>Lista de Funcionários</h1>

<a href="/Employer/create">Novo Registro</a>
<br />

<form action="/Employer/Index" method="get">
    <input type="text" name="value" placeholder="digite aqui..." required/>
    <select name="option" required>
        <option value="">Selecione</option>
        <option value="name">Nome</option>
        <option value="email">E-mail</option>
        <option value="employer_role">Cargo</option>
    </select>
    <input type="submit" value="Buscar" />
</form>

<table class="table table-bordered table-responsive text-center">
    <tr>
        <td><b>Ações</b></td>
        <td><b>Nome</b></td>
        <td><b>Email</b></td>
        <td><b>Cargo/Função</b></td>
        <td><b>Data de Contratação</b></td>
    </tr>

    @foreach (var Empregado in Model)
    {
        <tr>
            <td>
                <a href="/Employer/Edit?id=@Empregado.Id" class="glyphicon glyphicon-pencil"></a> &nbsp;&nbsp;
                <a href="javascript:apagar(@Empregado.Id, 'Employer')" class="glyphicon glyphicon-trash"></a>
            </td>
            <td>@Empregado.Name</td>
            <td>@Empregado.Email</td>
            <td>@Empregado.Employer_role</td>
            <td>@Empregado.Hired_At.ToShortDateString()</td>
        </tr>
    }

</table>
